$color-primary: #00e76e;
$color-secondary: #13B6D0;
$color-tertiary: #0E4AC2;
$color-light: #E6E1E3;

$color-background-light: $color-light;
$color-background-dark: #002C33;

$color-font-primary: #4f4e50;
$color-font-secondary: #4f4e50;


// Colors
$white: #FFFFFF;
$black: #000000;


// buttons
$color-font-button-primary: $white;
$color-font-button-secondary: $white;


// Custom
$primary: $color-primary;
$secondary: $color-secondary;
