<footer>
  <div class="container py-4">
    <div class="row py-2">
      <div class="col-lg-3 col-sm-6 col-xs-12 mb-3 text-sm-start text-center">
        <h2>Vale Presente</h2>
        <ul>
          <li>
            <a href="sobre-nos">Sobre nós</a>
          </li>
          <li>
            <a href="tarifas">Tarifas</a>
          </li>
          <li>
            <a href="termos-uso">Termos de uso</a>
          </li>
          <li>
            <a href="politicas">Políticas de privacidade</a>
          </li>
          <li>
            <a href="blog">Blog</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12 mb-3 text-sm-start text-center">
        <h2>Precisa de ajuda?</h2>
        <ul>
          <li>
            <a href="central-ajuda">Central de ajuda</a>
          </li>
          <li>
            <a href="desbloquear">Desbloquear cartão</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12 mb-3 text-sm-start text-center">
        <h2>Fale Conosco</h2>
        <ul>
          <li>
            <a href="">Chat online</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12 mb-3 text-sm-start text-center">
        <h2>Quer contratar?</h2>
        <ul>
          <ul>
            <li>
              <a href="mailto:vendas@valepresente.com.br">vendas@valepresente.com.br</a>
            </li>
          </ul>
        </ul>
      </div>
    </div>

    <div class="row py-2">
      <div class="col-lg-6 col-sm-6 col-xs-12 mb-3 data-company text-sm-start text-center">
        <img class="mb-3" src="/assets/img/footer/logo-footer-branco.svg" alt="Logo Vale Presente">
        <p>CNPJ 23.218.601/0001-70</p>
        <p>Vale Presente S.A.</p>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12 mb-3 apps-store text-sm-start text-center">
        <h2>Baixe o app</h2>
        <ul class="d-flex flex-sm-column flex-row justify-content-around">
          <li>
            <a href="">
              <img src="/assets/img/footer/android-button.svg" alt="Google Play">
            </a>
          </li>
          <li>
            <a href="">
              <img src="/assets/img/footer/ios-button.svg" alt="Apple Store">
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-3 col-sm-6 col-xs-12 mb-3 social-media text-sm-start text-center">
        <h2>Redes Sociais</h2>
        <ul class="d-flex justify-content-sm-start justify-content-around">
          <li>
            <a href="https://www.instagram.com/valepresente/" target="_blank" title="Instagram">
              <i class="bi bi-instagram"></i>
            </a>
          </li>
          <li>
            <a href="https://www.facebook.com/valepresente/" target="_blank" title="Facebook">
              <i class="bi bi-facebook"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/valepresente" target="_blank" title="Twitter">
              <i class="bi bi-twitter-x"></i>
            </a>
          </li>
          <li>
            <a href="https://www.linkedin.com/company/vale-presente-s-a/" target="_blank" title="Linkedin">
              <i class="bi bi-linkedin"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/user/valepresente/videos" target="_blank" title="Youtube">
              <i class="bi bi-youtube"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>

